.aboutPage {
  max-width: 100%;
  padding: 1rem;
  margin: 0 auto;
  color: var(--text);
}

.aboutPage h1 {
  text-align: center;
  color: var(--text);
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.aboutSection {
  background: var(--bg);
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--border);
  background-color: #2563eb;
}

.aboutSection4 h2 {
  color: var(--text);
  margin-bottom: 1rem;
  font-size: 1.4rem;
  border-bottom: 1px solid var(--border);
  padding-bottom: 0.5rem;
  text-align: center;
}

@media (max-width: 768px) {
  .abouPage {
    padding: 2rem;
  }
}
.aboutSection2 {
  background: var(--bg);
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--border);
  background-color: #1aa074;
  text-align: center;
}
.aboutSection {
  position: relative;
  overflow: hidden;
  height: 100vh;
  color: rgb(25, 133, 200);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

/* Fullscreen background video */
.videoBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

/* Overlay content */
.overlay {
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5); /* dark layer for readability */
  padding: 40px;
  border-radius: 16px;
  max-width: 900px;
  text-align: justify;
}
