    .wrapper {
      display: flex;
      gap: 40px;
      padding: 40px;
    
    }

    .left {
      flex: 2;
    }

    .mainImage {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }

    .mainTitle {
      font-size: 28px;
      margin-top: 20px;
      font-weight: 700;
    
    }

    .categoryTag {
      display: inline-block;
      margin-top: 10px;
      background: #e0e7ff;
      padding: 6px 12px;
      border-radius: 6px;
      color: #15151f;
      font-weight: 600;
    }

    .description {
      margin-top: 20px;
      line-height: 1.7;
      font-size: 16px;
    }

    .right {
      flex: 1;
    }

    .servicesBox {
      background: #f8fafc;
      padding: 20px;
      border-radius: 10px;
      margin-bottom: 20px;
    
    }

    .serviceItem {
      display: block;
      padding: 12px;
      border-bottom: 1px solid #e5e7eb;
      cursor: pointer;
      color: #374151;
      text-decoration: none;
    }

    .serviceItem:hover {
      background: #eef2ff;
    }

    .active {
      background: #e0e7ff;
      border-left: 4px solid #4338ca;
    }

   

   
    .orderCart {
      border: 1px solid #ddd;
      padding: 1.5rem;
      margin-top: 2rem;
      border-radius: 8px;
      background: #f9f9f9;
    }

    .orderCart h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
      text-align: center;
    }

    .plans {
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
    }

    .planBox {
      border: 1px solid #ccc;
      padding: 1rem;
      border-radius: 6px;
      flex: 1 1 250px;
      background: #fff;
    }

    .planBox h3 {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    .price {
      font-size: 1.3rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    .price span {
      font-weight: normal;
      font-size: 1rem;
    }

    .planBox ul {
      list-style: disc;
      padding-left: 1.2rem;
      margin-bottom: 1rem;
    }

    .planBox button {
      background: #ff7f50;
      color: white;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .planBox button:hover {
      background: #f26e3e;;
    }

