.btnContainer {
    display: flex;
    justify-content: center;
    --color-text: #9ee5fa;
    --color-background: #353535;
  }
  
  .btnContent {
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: var(--color-text);
    background: var(--color-background);
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0 0 0.2em 0 var(--color-background);
    cursor: pointer;
    border: none;
  }
  
  .btnContent:hover .iconArrow {
    margin-left: 25px;
  }
  
  .iconArrow {
    transition: 0.5s;
    margin-left: 15px;
    transform: scale(0.6);
  }
  
  .flip svg {
    transform: scaleX(-1); /* flip arrow for Prev button */
  }
  
  /* SVG Animations */
  #arrowIconOne { transition: 0.4s; transform: translateX(-60%); }
  #arrowIconTwo { transition: 0.5s; transform: translateX(-30%); }
  .btnContent:hover #arrowIconThree { animation: colorAnim 1s infinite 0.2s; }
  .btnContent:hover #arrowIconOne { transform: translateX(0%); animation: colorAnim 1s infinite 0.6s; }
  .btnContent:hover #arrowIconTwo { transform: translateX(0%); animation: colorAnim 1s infinite 0.4s; }
  
  @keyframes colorAnim {
    0% { fill: white; }
    50% { fill: var(--color-background); }
    100% { fill: #9ee5fa; }
  }
  