.btnContainer {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  /* SMALL VERTICAL BUTTON */
  .btnContent {
    width: 1.8rem;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #3881B4;

    border: none;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .btnContent:hover {
    background:#49ACF1;
  }
  
  /* Centered Arrow */
  .iconArrow {
    margin: 0;
    transform: scale(0.7);
  }
  
  /* disable slide animation for compact version */
  .btnContent:hover .iconArrow {
    margin: 0;
  }
  
  /* Flip arrow for "previous" */
  .flip svg {
    transform: scaleX(-1);
  }
  
  /* Keep your original SVG animations */
  #arrowIconOne { transition: 0.4s; transform: translateX(-60%); }
  #arrowIconTwo { transition: 0.5s; transform: translateX(-30%); }
  
  .btnContent:hover #arrowIconThree { animation: colorAnim 1s infinite 0.2s; }
  .btnContent:hover #arrowIconOne { transform: translateX(0%); animation: colorAnim 1s infinite 0.6s; }
  .btnContent:hover #arrowIconTwo { transform: translateX(0%); animation: colorAnim 1s infinite 0.4s; }
  
  @keyframes colorAnim {
    0% { fill: white; }
    50% { fill: #353535; }
    100% { fill: #9ee5fa; }
  }
  