/* From Uiverse.io by 0x-Sarthak, adapted for module use */
.cta {
  position: relative;
  margin: auto;
  padding: 11.5px 18px;
  transition: all 0.2s ease;
  border: 3px solid #ffffff;
  border-radius: 50px;
  background: #3881b4;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  border-radius: 50px;
  background: white;
  width: 45px;
  height: 45px;
  transition: all 0.8s ease;
}

.cta span {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: rgb(255, 254, 254);
  font-weight: 500;
  letter-spacing: 0.05em;
  z-index: 2;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: rgb(255, 255, 255);
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.5s ease;
  z-index: 2;
}

.cta:hover:before {
  width: 100%;
  background: hsl(205, 85%, 76%);
}

.cta:hover svg {
  transform: translateX(0);
  transition: all 0.5s ease;
}

.cta:active {
  transform: scale(0.95);
  transition: all 0.2s ease;
}
