.wrapper {
    width: 100%;
    overflow: hidden;
    background-color: var(--background); /* Dark background */
    padding: 10px 0;
  }
  
  .scroller {
    display: inline-flex;
    white-space: nowrap;
    animation: scroll 20s linear infinite;
  }
  
  .item {
    display: inline-block;
    margin-right: 3rem;
    font-size: 1.7rem;
    color: var( --brandcolor);
    font-weight: 500;
  }
  
  /* Keyframes for smooth infinite scroll */
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  