.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(  --background);
    
  }
  
  .card {
    padding: 1rem;
    border-radius: 1rem;
 
    text-align: center;
  }
  .title {
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
    margin-bottom: 1.5rem;
  }
  